In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('C:/Users/aditya/Desktop/zomato.csv')
data.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
data.drop(['url'],axis=1,inplace=True)

In [4]:
data.drop(['address'],axis=1,inplace=True)

In [5]:
data.drop(['phone'],axis=1,inplace=True)

In [6]:
data.duplicated().sum()

63

In [7]:
data.drop_duplicates(inplace=True)

In [8]:
#REMOVING NAN VALUES
data.isnull().sum()
data.dropna(how='any',inplace=True)
data.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23395 entries, 0 to 51715
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         23395 non-null  object
 1   online_order                 23395 non-null  object
 2   book_table                   23395 non-null  object
 3   rate                         23395 non-null  object
 4   votes                        23395 non-null  int64
 5   location                     23395 non-null  object
 6   rest_type                    23395 non-null  object
 7   dish_liked                   23395 non-null  object
 8   cuisines                     23395 non-null  object
 9   approx_cost(for two people)  23395 non-null  object
 10  reviews_list                 23395 non-null  object
 11  menu_item                    23395 non-null  object
 12  listed_in(type)              23395 non-null  object
 13  listed_in(city)              23395 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.7+ MB

In [10]:
data.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'location',
       'rest_type', 'dish_liked', 'cuisines', 'approx_cost(for two people)',
       'reviews_list', 'menu_item', 'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [11]:
data.rename(columns={'approx_cost(for two people)':'cost','listed_in(type)':'type','listed_in(city':'city'},inplace=True)

In [12]:
data['cost']=data['cost'].astype(str)
data['cost']=data['cost'].apply(lambda x:x.replace(',',''))
data['cost']=data['cost'].astype(float)

In [13]:
data['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '4.6/5', '4.0/5', '4.2/5', '3.9/5',
       '3.0/5', '3.6/5', '2.8/5', '4.4/5', '3.1/5', '4.3/5', '2.6/5',
       '3.3/5', '3.5/5', '3.8 /5', '3.2/5', '4.5/5', '2.5/5', '2.9/5',
       '3.4/5', '2.7/5', '4.7/5', 'NEW', '2.4/5', '2.2/5', '2.3/5',
       '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5', '4.1 /5', '2.9 /5',
       '2.7 /5', '2.5 /5', '2.6 /5', '4.5 /5', '4.3 /5', '3.7 /5',
       '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '3.4 /5', '3.6 /5',
       '3.3 /5', '4.6 /5', '4.9 /5', '3.2 /5', '3.0 /5', '2.8 /5',
       '3.5 /5', '3.1 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [14]:
data['rate']=data['rate'].replace('NEW',np.nan)
data['rate'].dropna(inplace=True)

In [15]:
remove_slash=lambda x:x.replace('/5','') if type(x)==np.str else x
data.rate=data.rate.apply(remove_slash).str.strip().astype('float')
data['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51705    3.8
51707    3.9
51708    2.8
51711    2.5
51715    4.3
Name: rate, Length: 23395, dtype: float64

In [16]:
data['cost']=data['cost'].replace('.','')

In [17]:
data['cost'].unique()

array([ 800.,  300.,  600.,  700.,  550.,  500.,  450.,  650.,  400.,
        750.,  200.,  850., 1200.,  150.,  350.,  250., 1500., 1300.,
       1000.,  100.,  900., 1100., 1600.,  950.,  230., 1700., 1400.,
       1350., 2200., 2000., 1800., 1900.,  180.,  330., 2500., 2100.,
       3000., 2800., 3400.,   40., 1250., 3500., 4000., 2400., 1450.,
       3200., 6000., 1050., 4100., 2300.,  120., 2600., 5000., 3700.,
       1650., 2700., 4500.])

In [18]:
data.drop(['name','dish_liked','cuisines','reviews_list','menu_item','listed_in(city)'],axis=1,inplace=True)

In [19]:
data.head()

,online_order,book_table,rate,votes,location,rest_type,cost,type
0,Yes,Yes,4.1,775,Banashankari,Casual Dining,800.0,Buffet
1,Yes,No,4.1,787,Banashankari,Casual Dining,800.0,Buffet
2,Yes,No,3.8,918,Banashankari,"Cafe, Casual Dining",800.0,Buffet
3,No,No,3.7,88,Banashankari,Quick Bites,300.0,Buffet
4,No,No,3.8,166,Basavanagudi,Casual Dining,600.0,Buffet

In [20]:
data['rate'].unique()

array([4.1, 3.8, 3.7, 4.6, 4. , 4.2, 3.9, 3. , 3.6, 2.8, 4.4, 3.1, 4.3,
       2.6, 3.3, 3.5, 3.2, 4.5, 2.5, 2.9, 3.4, 2.7, 4.7, nan, 2.4, 2.2,
       2.3, 4.8, 4.9, 2.1, 2. , 1.8])

In [21]:
data['rate'].fillna(2.55,inplace=True)

In [22]:
data.isnull().sum()

online_order    0
book_table      0
rate            0
votes           0
location        0
rest_type       0
cost            0
type            0
dtype: int64

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23395 entries, 0 to 51715
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   online_order  23395 non-null  object
 1   book_table    23395 non-null  object
 2   rate          23395 non-null  float64
 3   votes         23395 non-null  int64
 4   location      23395 non-null  object
 5   rest_type     23395 non-null  object
 6   cost          23395 non-null  float64
 7   type          23395 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.6+ MB

In [24]:
data=pd.get_dummies(data,drop_first=True)

In [25]:
data.head()

,rate,votes,cost,online_order_Yes,book_table_Yes,location_Banashankari,location_Banaswadi,location_Bannerghatta Road,location_Basavanagudi,location_Basaveshwara Nagar,...,rest_type_Sweet Shop,"rest_type_Sweet Shop, Quick Bites",rest_type_Takeaway,"rest_type_Takeaway, Delivery",type_Cafes,type_Delivery,type_Desserts,type_Dine-out,type_Drinks & nightlife,type_Pubs and bars
0,4.1,775,800.0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4.1,787,800.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3.8,918,800.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.7,88,300.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.8,166,600.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y=data['rate']
x=data.drop('rate',axis=1)

In [28]:
x.head()

,votes,cost,online_order_Yes,book_table_Yes,location_Banashankari,location_Banaswadi,location_Bannerghatta Road,location_Basavanagudi,location_Basaveshwara Nagar,location_Bellandur,...,rest_type_Sweet Shop,"rest_type_Sweet Shop, Quick Bites",rest_type_Takeaway,"rest_type_Takeaway, Delivery",type_Cafes,type_Delivery,type_Desserts,type_Dine-out,type_Drinks & nightlife,type_Pubs and bars
0,775,800.0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,787,800.0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,918,800.0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88,300.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,166,600.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
y.head()

0    4.1
1    4.1
2    3.8
3    3.7
4    3.8
Name: rate, dtype: float64

# MODEL BULIDING

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.1,random_state=353)
x_train.head()

,votes,cost,online_order_Yes,book_table_Yes,location_Banashankari,location_Banaswadi,location_Bannerghatta Road,location_Basavanagudi,location_Basaveshwara Nagar,location_Bellandur,...,rest_type_Sweet Shop,"rest_type_Sweet Shop, Quick Bites",rest_type_Takeaway,"rest_type_Takeaway, Delivery",type_Cafes,type_Delivery,type_Desserts,type_Dine-out,type_Drinks & nightlife,type_Pubs and bars
21063,620,750.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32791,149,350.0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
2951,217,450.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
41498,72,400.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
19422,233,400.0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [35]:
lr = LinearRegression()

In [36]:
model=lr.fit(x_train,y_train)

In [37]:
y_pred=model.predict(x_test)

In [38]:
r2 = r2_score(y_test, y_pred)

In [39]:
r2

0.3370063630761424

In [40]:
#SO WE GET A BASELINE ACCURACY OF 34%

In [41]:
from sklearn.tree import DecisionTreeRegressor 
dt=DecisionTreeRegressor()
model_dt=dt.fit(x_train,y_train)
y_pred=model_dt.predict(x_test)
r2 = r2_score(y_test, y_pred)
r2

0.9313483542379726

In [42]:
# SO WITH DT REGRSSOR WE GET A ACCURACY OF 94%

In [44]:
from sklearn.ensemble import RandomForestRegressor
model_rfr=RandomForestRegressor(n_estimators=1000)
model_rfr=model_rfr.fit(x_train,y_train)
y_pred=model_rfr.predict(x_test)
r2 = r2_score(y_test, y_pred)
r2

0.9356365803958717

In [45]:
#SO WE GET A DECENT ACCRACY.

In [46]:
# AUTOML

In [47]:
from lazypredict.Supervised import LazyClassifier, LazyRegressor

C:\Users\aditya\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)

In [48]:
reg = LazyRegressor(predictions=True)
models, predictions = reg.fit(x_train, x_test, y_train, y_test)

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [24:55<00:00, 35.62s/it]

In [49]:
models

,Adjusted R-Squared,R-Squared,RMSE,Time Taken
Model,,,,
ExtraTreesRegressor,0.94,0.94,0.11,40.21
RandomForestRegressor,0.93,0.93,0.11,21.08
BaggingRegressor,0.91,0.92,0.12,2.49
DecisionTreeRegressor,0.91,0.91,0.13,0.70
ExtraTreeRegressor,0.90,0.91,0.13,0.61
XGBRegressor,0.65,0.68,0.25,6.91
LGBMRegressor,0.56,0.60,0.28,1.01
HistGradientBoostingRegressor,0.55,0.58,0.28,5.75
KNeighborsRegressor,0.53,0.56,0.29,17.69
MLPRegressor,0.46,0.50,0.31,25.50
GradientBoostingRegressor,0.42,0.46,0.32,7.39
SVR,0.39,0.44,0.33,110.70
NuSVR,0.39,0.44,0.33,154.52
TransformedTargetRegressor,0.29,0.34,0.36,0.48
LinearRegression,0.29,0.34,0.36,0.51
Ridge,0.29,0.34,0.36,0.29
RidgeCV,0.29,0.34,0.36,0.78
LassoLarsCV,0.29,0.34,0.36,1.74
LassoLarsIC,0.28,0.34,0.36,0.51
LassoCV,0.28,0.34,0.36,3.92
ElasticNetCV,0.28,0.34,0.36,3.95
BayesianRidge,0.28,0.34,0.36,0.77
LarsCV,0.28,0.33,0.36,2.05
PoissonRegressor,0.26,0.32,0.36,0.37
HuberRegressor,0.25,0.30,0.37,2.15
OrthogonalMatchingPursuit,0.23,0.29,0.37,0.24
OrthogonalMatchingPursuitCV,0.23,0.29,0.37,0.99
TweedieRegressor,0.21,0.27,0.37,0.29
GeneralizedLinearRegressor,0.21,0.27,0.37,0.33
GammaRegressor,0.21,0.27,0.38,0.39
LinearSVR,0.19,0.25,0.38,16.10
LassoLars,-0.08,-0.00,0.44,0.35
Lasso,-0.08,-0.00,0.44,0.34
ElasticNet,-0.08,-0.00,0.44,0.40
DummyRegressor,-0.08,-0.00,0.44,0.29
AdaBoostRegressor,-0.10,-0.02,0.44,4.02
PassiveAggressiveRegressor,-0.79,-0.66,0.57,0.49
KernelRidge,-84.63,-78.45,3.91,295.70
Lars,-30303.28,-28113.70,73.61,0.79
GaussianProcessRegressor,-56685.79,-52590.00,100.68,760.28
SGDRegressor,-89106623595798233088.00,-82668393844755087360.00,3991548574.06,0.41
RANSACRegressor,-119436800529582283376558080.00,-110807121483195184903618560.00,4621207880441.07,2.27

# REGRESSION  MODELLING DONE